
// Logement Specific
.logement-details {
    display: flex;
    gap: 80px;
    margin-bottom: 50px;
}
.logement-details > div {
    flex: 1 1 0;
}
// hostratingtitle
// TODO : Changer le nom
.upperlogementcontainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}


// - Host + Rating
.host-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 800px) {
    .logement-details {
        flex-direction: column;
        gap: 20px;
    }

    .upperlogementcontainer {
        flex-direction: column;
    }
    
    .host-rating {
        flex-direction: row-reverse;
    }

    .logement {
        h1 {
            font-size: 18px;
        }

        h2 {
            font-size: 14px;
        }
    }
}
