
.home {
    gap: 50px;
    display: flex;
    flex-direction: column;

    .homeImage {
        background-image: url('../../static/img1.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        width: 100%;
        border-radius: 25px;
        overflow: hidden;
        
        h1 {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background-color: rgba(0, 0, 0, 0.6);
            width: 100%;
            font-size: 48px;
            color: white;

            padding: 75px 0;
            top: 0;
            left: 0;
            text-align: center;
        }
    }
}



// Logements
.logements {
    background: #F6F6F6;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    gap: 60px;
    padding: 50px;
    flex-wrap: wrap;
    padding-bottom: 30px;

    a {
        position: relative;
        aspect-ratio: 1 / 1;
        background-color: var(--color-main);
        border-radius: 25px;
        overflow: hidden;

        width: calc(100% / 3 - 40px);
        // height: 340px;

        article {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    
            h2 {
                padding: 20px;
                bottom: 0;
                left: 0;
    
                position: absolute;
                color: white;
    
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .home {
        gap: 20px;

        .homeImage {
            h1 {
                font-size: 24px;
                padding: 30px 95px 30px 16px;
                text-align: left;
            }
        }
    }

    // Logements
    .logements {
        gap: 20px;
        background-color: unset;
        padding: 0;
        padding-bottom: 30px;



        a {
            aspect-ratio: 335 / 255;
            width: calc(100%);
            // height: 340px;
    
            article {
                width: 100%;
                height: 100%;

                img {

                }
        
                h2 {
    
                }    
            }
        }
    }
}
