
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

:root {
    --color-main: #FF6060
}

body {
    font-family: 'Montserrat', 'Arial';
}

main {
    // max-width: 1240px;
    padding: 0 100px;
    margin: 0 auto;
}

// Global
h1 {
    color: var(--color-main);
    font-size: 36px;
}


// Header
header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 210px;
    }

    nav {
        display: flex;
        gap: 20px;

        a {
            font-size: 24px;
            color: black;
            font-weight: 500;
            text-decoration: none;
        }
        a.active {
            text-decoration: underline;
        }
    }
}

// Footer
footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 50px 0 30px 0;

    img {
        width: 120px;
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(168deg) brightness(105%) contrast(107%);
    }

    p {
        color: white;
        font-size: 24px;
        font-weight: 500;
    }
}

// Err
.errPage {
    display: flex;
    padding: 140px 0;
    gap: 140px;
    flex-direction: column;
}


.err404 {
    text-align: center;
    font-size: 288px;
    color: var(--color-main);
}
h1.err {
    text-align: center;
}
a.err {
    display: block;
    text-align: center;
    font-size: 18px;
    color: black;
}

// Home Page
.home {
    gap: 50px;
    display: flex;
    flex-direction: column;

    .homeImage {
        background-image: url('./static/img1.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        width: 100%;
        border-radius: 25px;
        overflow: hidden;

        h1 {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background-color: rgba(0, 0, 0, 0.6);
            width: 100%;
            font-size: 48px;
            color: white;

            padding: 75px 0;
            top: 0;
            left: 0;
            text-align: center;
        }
    }
}

// - Logements
.logements {
    background: #F6F6F6;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    gap: 60px;
    padding: 50px;
    flex-wrap: wrap;
    padding-bottom: 30px;

    a {
        position: relative;
        aspect-ratio: 1 / 1;
        background-color: var(--color-main);
        border-radius: 25px;
        overflow: hidden;

        width: calc(100% / 3 - 40px);
        // height: 340px;

        article {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    
            h2 {
                padding: 20px;
                bottom: 0;
                left: 0;
    
                position: absolute;
                color: white;
    
                font-size: 18px;
            }
        }
    }
}

// About
.aboutImage {
    background-image: url('./static/img2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100%;
    border-radius: 25px;
    overflow: hidden;

    height: 220px;
}

section.about {
    margin: 40px 110px;
}

// Logement Specific
.logement-details {
    display: flex;
    gap: 80px;
    margin-bottom: 50px;
}
.logement-details > div {
    flex: 1 1 0;
}


// ### Components ### //

// - Dropdown
.dropdown {
    margin-bottom: 30px;
    background-color: #f6f6f6;
    border-radius: 10px 10px 5px 5px;



    .bar  {
        background-color: var(--color-main);
        padding: 10px 15px;
        border-radius: 5px;

        display: flex;
        justify-content: space-between;

        p {
            font-size: 24px;
            font-weight: 700;        
            color: white;
        }
    }

    .content {
        padding: 20px;


        p {
            font-size: 18px;

        }
    }


}

// - Tags
.tags-list {
    display: flex;
    gap: 10px;
}
.tag {
    width: 115px;
    height: 25px;
    padding: 3px 0;

    background-color: var(--color-main);
    border-radius: 10px;

    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}







@media screen and (max-width: 767px) {
    header {
        img {
            width: 145px;
        }

        nav {
            a {
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }

    footer {
        padding: 50px 0;
        gap: 25px;

        p {
            width: 130px;
            font-size: 12px;
            padding: 0 10px;
            text-align: center;
        }
    }

    main {
        padding: 0 20px;
    }

    .errPage {
        gap: 100px;
        padding: 100px 40px;
    }
    a.err {
        font-size: 14px;
    }
    h1.err {
        font-size: 18px;
    }
    .err404 {
        font-size: 96px;
    }

    // Home Page
    .home {
        gap: 20px;

        .homeImage {
            h1 {
                font-size: 24px;
                padding: 30px 95px 30px 16px;
                text-align: left;
            }
        }
    }
    
    // About
    .aboutImage {
        height: 110px;
    }

    // Logements
    .logements {
        gap: 20px;
        background-color: unset;
        padding: 0;
        padding-bottom: 30px;



        a {
            aspect-ratio: 335 / 255;
            width: calc(100%);
            // height: 340px;
    
            article {
                width: 100%;
                height: 100%;

                img {

                }
        
                h2 {
    
                }    
            }
        }
    }
    
    

    .logement-details {
        flex-direction: column;
        gap: 20px;
    }

    // ### Components ### //
    .tag {
        width: 84px;
        height: 18px;
        padding: 2px 0;
        border-radius: 5px;
        
        font-size: 10px;
    }









}












